.back-admin-page {
  background-image: url("/public/img/admin-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

.back-admin-page > div {
  backdrop-filter: blur(10px);
  align-items: center;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  flex-direction: column;
  overflow-y: hiden;
}

.admin-page {
  min-height: 100vh;
  height: auto;
}

.switch-panel {
  margin-top: 3rem !important;
}

.admin-panel {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    linear-gradient(
      90.24deg,
      #ffffff71 10.75%,
      rgba(71, 85, 93, 0.517) 29.39%,
      rgba(76, 90, 86, 0.582) 49.19%,
      rgba(123, 136, 132, 0.562) 71.57%,
      rgba(143, 166, 149, 0.588) 94.38%
    );
  border: 1px solid;
  border-image: linear-gradient(
      90.24deg,
      rgba(255, 255, 255, 0.664) 11.75%,
      rgba(71, 85, 93, 0.28) 29.39%,
      rgba(76, 90, 86, 0.52) 49.19%,
      rgba(123, 136, 132, 0.67) 71.57%,
      rgba(123, 134, 115, 0.87) 94.38%
    )
    1;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
}

.admin_user-data {
  background: linear-gradient(
      180deg,
      rgba(83, 83, 83, 0.16) 0%,
      rgba(96, 96, 96, 0.4) 100%
    ),
    linear-gradient(
      90.24deg,
      rgba(113, 113, 113, 0.443) 10.75%,
      rgba(71, 85, 93, 0.517) 29.39%,
      rgba(76, 90, 86, 0.582) 49.19%,
      rgba(76, 76, 76, 0.562) 71.57%,
      rgba(79, 79, 79, 0.588) 94.38%
    );
  margin: 2rem;
  display: table;
}

.admin_user-data th,
.admin_user-data td {
	display: table-cell;
  border: 1px solid black;
  padding: 0.5rem 0.7rem;
  max-width: 10rem;
  overflow-x: auto;
}

.admin_user-data .info {
	max-height: 2.8rem;
	overflow: auto;
  vertical-align: middle;
}

.admin_user-data img {
	margin: auto;
}

.admin_user-data img:hover {
	cursor: pointer;
	transform: scale(1.3);
}

.admin_user-data .p_picture img {
  border-radius: 50%;
  min-width: 2.5rem;
  aspect-ratio: 1 / 1;
  height: 100%;
}

.admin_user-data .p_picture img:hover {
  cursor: default;
  transform: none;
}

.admin_user-data input, .admin_user-data textarea {
  font-style: italic;
  background: #e5e5e5;
  border-radius: 10px;
  max-width: 90%;
  max-height: 100%;
  padding: 0.1rem;
  padding-left: 0.4rem;
  text-align: center;
}

